[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/minimalist"]
	path = bundle/minimalist
	url = https://github.com/dikiaap/minimalist
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/apiblueprint.vim"]
	path = bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
[submodule "bundle/Colorizer"]
	path = bundle/Colorizer
	url = git@github.com:chrisbra/Colorizer.git
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-clang-format"]
	path = bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule "bundle/vim-jsx-pretty"]
	path = bundle/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
